streamlit
nltk
scikit-learn
pandas
whoosh
pdfminer.six
spacy
beautifulsoup4
PyMuPDF
streamlit
langchain>=0.1.14
langchain-community>=0.0.19
python-dotenv
transformers
sentence-transformers
faiss-cpu
pypdf
torch